@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
  background-color: #FAFAFA;
  color: #292929;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #292929;
  text-decoration: none;
}

.circle {
  border-radius: 50%;
}

.center {
  max-width: 1200px;
  margin: 40px auto 40px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.full-div {
  background-color: white;
  padding: 40px 0px;
}

.vertically-aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
}

.horizontally-aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  display: inline-block;
  padding: 15px;
  min-width: 100px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 3px #00000027;
          box-shadow: 0px 2px 3px #00000027;
  font-size: 15px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn i {
  margin-right: 10px;
}

.btn-primary {
  background-color: #FEBF3E;
}

.btn-primary:hover {
  background-color: #E0A42B;
}

.btn-default {
  background-color: white;
}

.btn-default:hover {
  background-color: #DEDEDE;
}

.btn-disabled {
  opacity: .5;
  cursor: default !important;
  pointer-events: none;
}

header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px 0px 30px;
}

header nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

header nav ul li {
  font-weight: 500;
  margin-left: 10px;
  text-align: center;
  color: #292929;
  cursor: pointer;
  -webkit-transition: color .2s;
  transition: color .2s;
}

header nav ul li:hover {
  color: #FEBF3E;
}

header nav ul .active {
  color: #FEBF3E;
}

.call-to-action {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call-to-action img {
  width: 250px;
  height: 250px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.call-to-action .introduction p {
  opacity: .5;
  margin-bottom: 10px;
}

.call-to-action .introduction h1 {
  font-size: 40px;
  padding-top: 0px;
  margin-top: 0px;
}

.call-to-action .cta-buttons {
  -ms-grid-column-align: center;
      justify-self: center;
}

.call-to-action .cta-buttons .btn {
  margin-left: 10px;
  margin-right: 10px;
}

.fixed-social {
  position: fixed;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #FAFAFA;
  height: 40px;
}

.fixed-social small {
  padding-right: 20px;
}

.fixed-social .socials {
  border-left: 1px solid gray;
  padding-left: 20px;
}

.fixed-social .socials a {
  padding: 4px;
}

.h1-introduction {
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  font-weight: 400;
  color: #212121;
}

.h1-introduction strong {
  color: #FEBF3E;
}

.cards {
  color: #292929;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.cards .card {
  padding: 30px;
  border-radius: 20px;
  border: 3px solid white;
  cursor: pointer;
}

.cards .card i {
  font-size: 30px;
}

.cards .card:hover {
  border: 3px solid #FEBF3E;
}

.cards .card p {
  font-size: 15px;
  line-height: 2;
}

.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px auto;
      grid-template-columns: 400px auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.profile .left-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .left-profile img {
  height: 200px;
  margin-bottom: 30px;
}

.profile .right-profile {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.profile .right-profile .skills h3 {
  color: #FEBF3E;
}

.profile .right-profile .skills p {
  line-height: 2;
}

.profile .right-profile .skills div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #141414;
  overflow: hidden;
}

footer .lets-work-together {
  margin-bottom: 100px;
}

footer .lets-work-together h1 {
  padding-top: 80px;
  color: white;
}

footer .lets-work-together p {
  color: white;
  opacity: .6;
  font-weight: 300;
}

footer .lets-work-together .grid {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

footer .lets-work-together .grid .grid-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .lets-work-together .grid .grid-column .fas, footer .lets-work-together .grid .grid-column .fab {
  font-size: 40px;
  color: #FEBF3E;
  margin-bottom: 20px;
}

footer .lets-work-together .grid .grid-column strong {
  color: white;
}

footer .lets-work-together .grid .grid-column p {
  font-size: 15px;
  opacity: .6;
}

footer .lets-work-together .grid .grid-column a {
  color: white;
}

footer .lets-work-together .grid .grid-column a:hover {
  text-decoration: underline;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  margin: 100px auto 0px auto;
  height: 40px;
  color: white;
}

footer .socials i {
  color: white;
  opacity: .8;
  font-size: 20px;
}

.btn-decoration {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  color: white;
}

.btn-decoration:before {
  content: "";
  width: 50px;
  height: 50px;
  margin-left: -35px;
  border-radius: 50%;
  background-color: #fcfcfc;
  position: absolute;
  opacity: .1;
}

.btn-decoration i {
  margin-left: 10px;
}

.blog {
  padding-top: 40px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog h5 {
  margin-bottom: 50px;
}

.blog .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .timer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .timer div h1 {
  font-size: 50px;
}

.form {
  margin: 50px auto;
  max-width: 600px;
  height: auto;
}

.form .inp-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #D5D5D5;
  font-family: 'Roboto Mono', monospace;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.form .inp-text:focus {
  outline: 2px solid #FEBF3E;
  border: 1px solid white;
}

.form textarea {
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid #D5D5D5;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-border-radius: 0;
}

.form textarea:focus {
  outline: 2px solid #FEBF3E;
  border: 1px solid white;
}

.form .inp-button {
  -webkit-appearance: none;
  min-width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 0;
  font-family: 'Roboto Mono', monospace;
}

.projects {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
}

.projects .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr auto;
      grid-template-columns: 80px 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid #f0f0f0;
}

.projects .project:last-child {
  border-bottom: none;
}

.projects .project h1 {
  opacity: .3;
}

.projects .project .title h2 {
  padding-bottom: 5px;
  margin: 0px;
}

.projects .project .title .tags small {
  background-color: #FEBF3E;
  padding: 3px 10px;
  border-radius: 5px;
}

#menu-open {
  display: none;
  font-size: 20px;
  padding: 10px;
}

#menu-close {
  display: none;
  font-size: 20px;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */