@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
  color: #292929;
}

a {
  color: #292929;
  text-decoration: none;
}

.center {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.center h2 {
  margin-left: 20px;
}

.btn {
  display: inline-block;
  padding: 15px;
  min-width: 100px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 3px #00000027;
          box-shadow: 0px 2px 3px #00000027;
  font-size: 15px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn-primary {
  background-color: #FEBF3E;
}

.btn-primary:hover {
  background-color: #E0A42B;
}

.btn-default {
  background-color: white;
}

.btn-default:hover {
  background-color: #DEDEDE;
}

header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 0px;
}

header nav ul li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  color: #292929;
  cursor: pointer;
  -webkit-transition: color .2s;
  transition: color .2s;
}

header nav ul li:hover {
  color: #FEBF3E;
}

header nav ul .active {
  color: #FEBF3E;
}

.call-to-action {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call-to-action img {
  width: 250px;
  border-radius: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.call-to-action .introduction p {
  opacity: .5;
  margin-bottom: 10px;
}

.call-to-action .introduction h1 {
  font-size: 40px;
  padding-top: 0px;
  margin-top: 0px;
}

.call-to-action .cta-buttons {
  -ms-grid-column-align: center;
      justify-self: center;
}

.call-to-action .cta-buttons .btn {
  margin-left: 10px;
  margin-right: 10px;
}

.fixed-social {
  position: fixed;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #FAFAFA;
  height: 40px;
}

.fixed-social small {
  padding-right: 20px;
}

.fixed-social .socials {
  border-left: 1px solid gray;
  padding-left: 20px;
}

.fixed-social .socials a {
  padding: 4px;
}

.vertically-aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
}

.h1-introduction {
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  font-weight: 400;
  color: #212121;
}

.h1-introduction strong {
  color: #FEBF3E;
}

.cards {
  color: #292929;
  margin-right: 20px;
  margin-left: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.cards .card {
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 10px #f0f0f0;
          box-shadow: 3px 3px 10px #f0f0f0;
}

.cards .card i {
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */