
@media (max-width:768px){
    .fixed-social{
        display: none;
    }
    header{
        justify-content: flex-end;
        nav{
            background-color: white;
            height: 100vh;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: -100%;
            z-index: 2;
            transition: left .5s;
            #menu-close{
                height: 80px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding:0px 30px 0px 30px;
                // background-color: violet;
                cursor: pointer;
            }
            ul {
                grid-template-columns: 1fr;
                li{
                    font-size: 20px;
                    float: none;
                    text-align: center;
                    height: 80px;
                    line-height: 80px;
                }
            }
        }
    }
    #menu-open{
        display: block;
        cursor: pointer;
    }
    .call-to-action{
        img{
            width: 200px;
        }
        .introduction{
            text-align: center;
            p{
                margin-bottom:10px;
                font-size: 12px;
            }
            h1{
                font-size: 27px;
            }
        }
        .cta-buttons{
            width: 100%;
            display: flex;
            flex-direction: column;
            .btn{
                margin:10px 10px 0px 10px;
            }
            margin-bottom: 5px;
        }
    }

    .h1-introduction{
        font-size: 27px;
        padding-left: 20px;
        padding-right: 20px;
        width: 90%;
        font-weight: 400;
        color: #212121;
    }
    .vertically-aligned{
        // min-height: 300px;
    }
    .ml-30{
        font-size: 27px;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .profile{
        grid-template-columns: 1fr;
        padding-bottom: 0px;
        padding-top: 0px;
        .right-profile{
            padding: 30px;
            margin-top: 30px;
            .skills{
                div{
                    h3{
                        padding: 0px;
                        margin:0px;
                    }
                    flex-direction: column;
                    align-items: flex-start;
                    small{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    footer{
        .lets-work-together{
            h1{
                font-size: 27px;
            }
            p{
                font-size: 15px;
            }
            .grid{
                margin-top: 60px;
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 40px;
            }
        }
    }
}
